@import "../../../../@theme/styles/themes.scss";

.re-layout-form {
  margin: 0 -10px;
}

.status-danger {
  margin-top: 10px;
}

.form-control-danger {
  border-color: #ff3d71 !important;
}
.text-hint {
  margin-top: 5px;
  margin-bottom: 40px;
}
.flex-end {
  justify-content: flex-end;
  display: flex;
}

a {
  color: nb-theme(text-hint-color);
}

button + button {
  margin-left: 15px;
}
.form-control-label {
  display: inline-flex;
  align-items: flex-start;
  margin-top: 10px;
}
