.form-control-group {
  margin-bottom: 2rem;
}
.container-login {
  display: block;
  width: 100%;
  max-width: 35rem;
  margin: auto;
  padding-bottom: 4rem;
  padding-top: 4rem;
}
.title {
  margin-top: 0;
  margin-bottom: 0.75rem;
  text-align: center;
}
.sub-title {
  margin-bottom: 2rem;
  text-align: center;
}
